<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>969101121843-vqqlpugaa4ctncvjmh8on5thcbpu7ove.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969101121843-vqqlpugaa4ctncvjmh8on5thcbpu7ove</string>
	<key>API_KEY</key>
	<string>AIzaSyCwNf1t4JEg9xcaCiZR8uao1X2SUr8lGhc</string>
	<key>GCM_SENDER_ID</key>
	<string>969101121843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luayyounus.Hush</string>
	<key>PROJECT_ID</key>
	<string>hush-bf81c</string>
	<key>STORAGE_BUCKET</key>
	<string>hush-bf81c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:969101121843:ios:58ea2589dff9afab</string>
	<key>DATABASE_URL</key>
	<string>https://hush-bf81c.firebaseio.com</string>
</dict>
</plist>